---
import { ButtonSearch, TableCertificates } from '@/components'
import { LayoutCommon, LayoutBanner } from '@/layouts'

import data from '@/utils/json/data.json'
---

<LayoutCommon
  title="Obtén tu certificado"
  description="Obtén tu certificado de aprobación de los cursos de la Escuela de Postgrado de la UNAP."
>
  <LayoutBanner>
    <section class="section">
      <p class="text-gray-500">
        A través del siguiente modulo usted podrá realizar la descarga de su
        certificado como asistente en los Cursos Pre-Congreso del VII congreso
        Internacional de Educación Médica - CIEM2023, para consultas puede
        escribirnos al correo ciem@aspefam.org.pe.
      </p>
    </section>
    <section class="w-full max-w-6xl bg-white p-6 flex flex-col gap-5">
      <div>
        <h2 class="font-medium text-2xl">
          Ingrese la información solicitada para descargar su certificado.
        </h2>
      </div>
      <form
        id="search-form"
        class="container"
      >
        <div class="flex items-center gap-2">
          <div class="w-full">
            <label
              for="name"
              class="block text-sm font-medium text-gray-700"
              >Nombre</label
            >
            <input
              type="text"
              name="dni"
              id="name"
              autocomplete="name"
              class="border border-gray-300 rounded-md w-full p-2"
              placeholder="Ingrese tu número de DNI"
              minlength="7"
              required
            />
          </div>
          <div class="mt-5">
            <ButtonSearch />
          </div>
        </div>
      </form>
      <div>
        <h2 class="font-medium text-2xl">Certificados disponibles</h2>
      </div>
      <TableCertificates certificates={data.certificados} />
    </section>
  </LayoutBanner>
</LayoutCommon>

<script>
  const form = document.getElementById('search-form')
  import data from '@/utils/json/data.json'

  function findCertificate(dni: string) {
    return data.certificados.find((certificado) => certificado.dni === dni)
  }

  function handleSubmit(event: Event) {
    event.preventDefault()
    const formData = new FormData(event.target as HTMLFormElement)
    const name = formData.get('dni')

    const certificate = findCertificate(name as string)
    console.log(certificate)
    return certificate
  }

  form?.addEventListener('submit', handleSubmit)
</script>
