---
import Certificado from "@/components/Certificado.astro";
import PdfGenerator from "@/components/react/PdfGenerator";
import LayoutCommon from "@/layouts/LayoutCommon.astro";
---

<LayoutCommon
  title="Obtén tu certificado"
  description="Obtén tu certificado de aprobación de los cursos de la Escuela de Postgrado de la UNAP."
>
  <h1>Welcome to Astro</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance with a modern developer experience.
  </p>
  <div>
    <PdfGenerator client:only="react">
      <Certificado />
    </PdfGenerator>
  </div>
</LayoutCommon>
