---
import { ButtonSearch } from '@/components'
import { LayoutCommon, LayoutBanner } from '@/layouts'
---

<LayoutCommon
  title="Obtén tu certificado"
  description="Obtén tu certificado de aprobación de los cursos de la Escuela de Postgrado de la UNAP."
>
  <LayoutBanner>
    <section class="section">
      <p class="text-gray-500">
        A través del siguiente modulo usted podrá realizar la descarga de su
        certificado como asistente en los Cursos Pre-Congreso del VII congreso
        Internacional de Educación Médica - CIEM2023, para consultas puede
        escribirnos al correo ciem@aspefam.org.pe.
      </p>
    </section>
    <section class="w-full max-w-6xl bg-white p-6 flex flex-col gap-5">
      <div>
        <h2 class="font-medium text-2xl">
          Ingrese la información solicitada para descargar su certificado.
        </h2>
      </div>
      <form class="container">
        <div class="flex items-center gap-2">
          <div class="w-full">
            <label
              for="name"
              class="block text-sm font-medium text-gray-700"
              >Nombre</label
            >
            <input
              type="text"
              name="dni"
              id="name"
              autocomplete="name"
              class="border border-gray-300 rounded-md w-full p-2"
              placeholder="Ingrese tu número de DNI"
              minlength="7"
            />
          </div>
          <div class="mt-5">
            <ButtonSearch />
          </div>
        </div>
      </form>
      <div>
        <h2 class="font-medium text-2xl">Certificados disponibles</h2>
      </div>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Curso
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Fecha
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Descargar
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex items-center space-x-2">
                <div class="flex-shrink-0 h-10 w-10">
                  <!-- <img
                    class="h-10 w-10 rounded-full"
                    src="https://randomuser.me/api/port ... alt=""
                  /> -->
                </div>
                <div class="text-sm font-medium text-gray-900">Jane Cooper</div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                Regional Paradigm Technician
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span
                class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
              >
                Active
              </span>
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
            >
              <a
                href="#"
                class="text-indigo-600 hover:text-indigo-900"
                >Download</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </LayoutBanner>
</LayoutCommon>
