---
import { LayoutCommon, LayoutBanner } from '@/layouts'
---

<LayoutCommon
  title="Obtén tu certificado"
  description="Obtén tu certificado de aprobación de los cursos de la Escuela de Postgrado de la UNAP."
>
  <LayoutBanner>
    <h1>Descarga tu certificado</h1>
  </LayoutBanner>
</LayoutCommon>
