---
import { ConsultSection } from '@/components/core'
import { LayoutCommon, LayoutBanner } from '@/layouts'
---

<LayoutCommon
  title="Obtén tu certificado"
  description="Obtén tu certificado de aprobación de los cursos de la Escuela de Postgrado de la UNAP."
>
  <LayoutBanner>
    <section class="section max-w-7xl flex flex-col gap-2">
      <h1 class="text-4xl text-center dark:text-white">
        ¡ Bienvenidos ! Descarga tu certificado de asistente
      </h1>
      <p class="text-gray-500 dark:text-gray-200 text-center">
        A través del siguiente modulo usted podrá realizar la descarga de su
        certificado en calidad de participante. De los diferentes cursos de la
        facultad de ingeniería de sistemas e informática de la universidad
        nacional de la Amazonia Peruana el día 06 de Julio del 2024 con una
        duración de 12 horas académicas.
      </p>
    </section>
    <ConsultSection client:load />
  </LayoutBanner>
</LayoutCommon>
