---

---

<div class="max-w-screen-md bg-red-500">
  <div class="">
    <div>
      <h1 class="text-3xl font-bold">Obtén tu certificado</h1>
      <p>
        Obtén tu certificado de aprobación de los cursos de la Escuela de
        Postgrado de la UNAP.
      </p>
    </div>
  </div>
</div>
