<!-- ---
import type { ICertificate } from "@/types/ICertificate";
import data from "../../../public/data.json";
import { PdfView } from "@/components/react/PdfView";

const { slug } = Astro.params;
---

<div>
  {user ? <PdfView userdata={user} /> : <h1>Usuario no encontrado</h1>}
</div> -->
