---

---

<div>
  <h1>Verifica tu certificado</h1>
  <p>Ingresa el c贸digo de verificaci贸n que se encuentra en tu certificado.</p>
  <form>
    <label for="code">C贸digo de verificaci贸n</label>
    <input type="text" id="code" name="code" />
    <button type="submit">Verificar</button>
  </form>
</div>
